version: '3.8'
services:

  api-gateway:
    image: nginx:latest
    ports:
      - "10000:80"
      - "10443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./certs:/etc/nginx/certs
    networks:
      - bankus-net
    depends_on:
      microservice-accounts:
        condition: service_healthy
        
  # API en puerto 8000
  microservice-accounts:
    image: alvvigsua/microservice-accounts:latest
    container_name: accounts-service
    environment:
      - MONGO_CONNECTION_STRING=mongodb+srv://alvvigsua_db_user:8lwRGxRQlvETL3Ui@microservicio-cuentas.x2dz0fd.mongodb.net/?appName=Microservicio-Cuentas
      - MONGO_DATABASE_NAME=accounts
      - REDIS_HOST=redis-cache
      - REDIS_PORT=6379
      - CURRENCIES_MICROSERVICE_BASE_URL=http://microservice-currencies:8000
      - CARD_MICROSERVICE_BASE_URL=http://microservice-cards:3000
    networks:
      - bankus-net
    depends_on:
      redis-cache:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/v1/health"]


  # API en puerto 8000
  microservice-currencies:
    image: alvvigsua/microservice-currencies:latest
    container_name: currencies-service
    environment:
      - EXTERNAL_API_KEY=67003e5001msha772ef722235103p1373e7jsn12b8883ecce9
      - EXTERNAL_API_URL=https://currency-converter-pro1.p.rapidapi.com/latest-rates
      - EXTERNAL_API_HOST=currency-converter-pro1.p.rapidapi.com
      - REDIS_HOST=redis-cache
      - REDIS_PORT=6379
    networks:
      - bankus-net
    depends_on:
      mongo:
        condition: service_healthy
      redis-cache:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8000/actuator/health"]


  # Api en puerto 3000
  microservice-cards:
    image: pabmedmej/microservice-cards:latest
    container_name: cards-service
    environment:
      - MONGODB_URI=mongodb+srv://srmedinillx_db_user:arartQ2R1LM5pUAD@cluster0.cwmpopc.mongodb.net/?appName=Cluster0
      - MONGODB_DB=cards_db
      - REDIS_URL=redis://redis-cache:6379
    networks:
      - bankus-net
    depends_on:
      redis-cache:
        condition: service_healthy

  redis-cache:
    image: redis:alpine
    container_name: redis
    restart: always
    networks:
      - bankus-net
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

networks:
  bankus-net:
    driver: bridge

volumes:
  mongo-data:
