apiVersion: v1
kind: Service
metadata:
  name: redis-cache
spec:
  ports:
  - port: 6379
    targetPort: 6379
  selector:
    app: redis-cache
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-cache
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis-cache
  template:
    metadata:
      labels:
        app: redis-cache
    spec:
      containers:
      - name: redis
        image: redis:alpine
        ports:
        - containerPort: 6379
---
apiVersion: v1
kind: Service
metadata:
  name: microservice-accounts
spec:
  ports:
  - port: 8000
    targetPort: 8000
  selector:
    app: microservice-accounts
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: microservice-accounts
spec:
  replicas: 3
  selector:
    matchLabels:
      app: microservice-accounts
  template:
    metadata:
      labels:
        app: microservice-accounts
    spec:
      containers:
      - name: accounts
        image: alvvigsua/microservice-accounts:test
        imagePullPolicy: Never
        env:
        - name: MONGO_CONNECTION_STRING
          value: "mongodb://bankus_user:bankus_secret_pass@localhost:27017"
        - name: MONGO_DATABASE_NAME
          value: "accounts"
        - name: REDIS_HOST
          value: "redis-cache"
        - name: REDIS_PORT
          value: "6379"
        livenessProbe:
          exec:
            command: ["curl", "-f", "http://localhost:8000/v1/health"]
          initialDelaySeconds: 10
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
spec:
  type: LoadBalancer
  ports:
  - name: "80"
    port: 10000
    targetPort: 80
  - name: "443"
    port: 10443
    targetPort: 443
  selector:
    app: api-gateway
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
        - containerPort: 443
        volumeMounts:
        - name: config-volume
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
        - name: certs-volume
          mountPath: /etc/nginx/certs
      volumes:
      - name: config-volume
        configMap:
          name: nginx-conf
      - name: certs-volume
        secret:
          secretName: nginx-certs